ai2thor==2.1.0
torch==2.0.0

Flask==1.1.2
Werkzeug==1.0.1
Jinja2==2.11.3
MarkupSafe==1.1.1
itsdangerous==1.1.0
revtok
tqdm
vocab
opencv-python
networkx
transformers==4.31.0
accelerate==0.20.3
bitsandbytes
scipy
hydra-core
Pillow==9.5.0
einops
sentencepiece
