name: alfred

defaults:
  - hydra: default.yaml
  - planner: default.yaml

out_dir: ${hydra:run.dir}

prompt:
  num_examples: 5
  splitter: ""
  prefix: "Robot: Hi there, I'm a robot operating in a home.\nRobot: You can ask me to do various tasks and I'll tell you the sequence of actions I would do to accomplish your task.\n"
  example_file_path: "resource/alfred_examples_for_prompt.json"
  chat_guidance_program: "resource/chat_guidance_program_alfred.txt"

alfred:
  x_display: '0'
  eval_set: 'valid_seen'  # valid_seen, valid_unseen
  eval_portion_in_percent: 5  # use a small set for a faster evaluationin. 100 means a full set.
